# Root-level example for reference. Specific services will also load same env vars.
GEMINI_API_KEY=AIzaSyBmKL-BiRYisF9zYuseBJIY_Ca_DeXu6Fk
MONGODB_URI="mongodb+srv://rishut681_db_user:<db_password>@cluster0.ho3zavo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0";
PORT=4000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dG9sZXJhbnQtdW5pY29ybi00LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_bpjIcXpHlbyl1hbfWgdJiGNnJIofBicy5ntp0A4cO7