# Root-level example for reference. Specific services will also load same env vars.
GEMINI_API_KEY=AIzaSyBmKL-BiRYisF9zYuseBJIY_Ca_DeXu6Fk
MONGODB_URI="mongodb+srv://rishut681_db_user:<db_password>@cluster0.ho3zavo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0";
PORT=4000
