# Node
node_modules/
**/node_modules/

# Next.js
client/.next
client/.vercel
client/out

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local
.serverless

# OS files
.DS_Store

# Editor
.vscode/
.idea/
